{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create-account.css') }}">
    <title>Create Account</title>
{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="signup-box">
        <center>
            <form action="/create-account" method="POST" id="login-form">
                <input required type="text" name="username" placeholder="Username">
                <br>
                <input required type="password" oninput="checkMatch()" name="password" placeholder="Password" id="password">
                <br>
                <input required type="password" oninput="checkMatch()" name="retype-password" placeholder="Retype Password" id="retyped_password">
                <br>
                <button type="submit" class="btn btn-outline-warning btn-lg" id="submit">Create Account</button>
            </form>
        </center>
    </div>
    <center>
        <p class="return-login">Return to <a href="/login">Login Page</a></p>
    </center>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/create-account.js') }}"></script>
{% endblock %}