{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/create-questions.css') }}">
	<title>Create Questions</title>
{% endblock %}

{% block content %}
	<div id="root">
		<div class="question">
			{% if questions: %}
				{% for i in range(questions|length): %}
					<h1 class="question__heading">Question {{i+1}}</h1>
					{% for question, answer in questions[i].items(): %}
						<input type="text" value="{{question}}" placeholder="Question {{i+1}}" id="question{{i+1}}" class="question__input">

						{% for option, bool in answer.items(): %}
							<div class="option__div">
								<input type="text" value="{{option}}" placeholder="Option {{loop.index}}" id="question{{i+1}}option{{loop.index}}" class="option__input">
								{% if bool == True: %}
									<div class="radio question{{i+1}} question{{i+1}}option{{loop.index}}radio selected" id="selected"></div>
								{% else: %}
									<div class="radio question{{i+1}} question{{i+1}}option{{loop.index}}radio"></div>
								{% endif %}
							</div>
						{% endfor %}
					{% endfor %}
				{% endfor %}

			{% else: %}		
				<h1 class="question__heading">Question 1</h1>
				<input type="text" placeholder="Question 1" id="question1" class="question__input">
				<div class="option__div">
					<input type="text" placeholder="Option 1" id="question1option1" class="option__input">
					<div class="radio question1 question1option1radio"></div>
				</div>
				<div class="option__div">
					<input type="text" placeholder="Option 2" id="question1option2" class="option__input">
					<div class="radio question1 question1option2radio"></div>
				</div>
				<div class="option__div">
					<input type="text" placeholder="Option 3" id="question1option3" class="option__input">
					<div class="radio question1 question1option3radio"></div>
				</div>
				<div class="option__div">
					<input type="text" placeholder="Option 4" id="question1option4" class="option__input">
					<div class="radio question1 question1option4radio"></div>
				</div>
			{% endif %}
		</div>
	</div>
	<div onclick="createForm()" class="add__button"><i class="fas fa-plus"></i></div>
	<center>
		{% if action == "create" %}
			<button onclick="sendData()" id="create__button" class="btn btn-lg btn-outline-warning">Create</button>
		{% else %}
			<button onclick="editData()" id="create__button" class="btn btn-lg btn-outline-warning">Edit</button>
		{% endif %}
	</center>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script src="{{ url_for('static', filename='js/create-questions.js') }}"></script>
{% endblock %}