{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/play_quiz.css') }}">
    <title>{{ quiz.name }}</title>
{% endblock %}

{% block content %}
    <div class="box">
        <img src="{{ quiz.thumbnail }}" alt="thumbnail" class="thumbnail">
        <h1 class="name">Name: {{ quiz.name }}</h1>
        <h2 class="author">Author: {{ quiz.author }}</h2>
        <button class="btn btn-outline-warning btn-lg" onclick="start()">Start</button>
    </div>
    
    <div id="root"></div>
    <br>
	<div id="buttons"></div>
    <div id="progress"></div>
    <i class="info" id="json">{{ quiz.questions }}</i>
    <i class="info">{{ quiz.total_questions }}</i>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/play_quiz.js') }}"></script>
{% endblock %}